{% extends base.html %}
  <div class="loginDiv">
    <h1 style="text-align: center;">Log In</h1>
      <div style="text-align: center;">
          <h3>Enter email and password:</h3>
          <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" style="margin-bottom: 0.5rem;"> <br/>
            <input type="password" name="password" placeholder="Password" style="margin-bottom: 0.5rem;"> <br/>

            {% if form.errors %}
            <p>Your username and password didn't match. <br/>Please try again.</p>
            {% endif %}

            <input type="submit" value="Log in"> <br/>
          </form>
      </div>
    </div>
</body>