{% extends "base.html" %}
{% block content %}
<div style="display: flex; justify-content: space-between; width: 100vw;">
<!-- Filter sidebar -->
    <div id="sidebar">
        <form method="get", action="{% url 'jobs:index' %}">
            <div class="mb3">
                {{ form }}
            </div>
            <input type="submit" value="Filter">
        </form>
    </div>

    <!-- Posting Display -->
    <div class="listing">
        {% for job in jobs%}
        <a href="{{ job.id }}" class="jobPost">
            <h4>{{ job.title }}</h4>
            <h3>Type: {{ job.job_type.job_type }}</h3>
            <h3>Field: {{ job.category.category }}</h3>
            <h3>Due: {{ job.due_date }}</h3>
            <h3>Starts: {{ job.start_date }}</h3>
        </a>
        {% endfor %}
    </div>
</div> 
{% endblock %}
