{% extends "base.html" %}
{% block sidebar %}
<div class="container bg-secondary-subtle rounded border border-secondary" style="width: 15%; margin-left: 0.25rem; position:fixed">
    <form id="job_filter">
        {{ form }}
        <input class="btn btn-secondary mb-3 float-end" type="submit">
    </form>
</div>
<style>
    #job_filter select{
        margin:1%; 
        width: 98%;
        padding-top: -5px;
    }
    #job_filter input[type=search]{
        margin:1%; 
        width: 98%;
    }
</style>
{% endblock %}
{% block content %}
<div class="row row-cols-4 row-cols-md-2" id="job_list" style="margin-top:0.25rem; margin-left: 16%;">
    <div class="col-3 w-75" style="margin-top:1rem">
    {% for job in jobs%}
    <!-- Each job card -->
        <div class="card d-inline-flex p-2 bg-body-secondary h-100" style="width: 10rem; height: 8rem; margin-right:0.25rem; margin-bottom:0.25rem;">
            <img src="/media/{{ job.company.logo }}" alt="Logo" style="max-width:60%; max-width:60%; align-self:center">
            <div class="card-body border-top border-secondary-subtle w-100">
                <h5 class="card-title"><a href="{{ job.id }}">{{ job.title }}</a></h5>
                <p class="card-text">{{ job.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
