{% extends 'base.html' %}
{% block content %}
  <div class="container bg-body-secondary w-25 rounded" style="margin-top:1rem">
    <h1 style="text-align: center;">Sign Up</h1>
      <div style="text-align: center;">
          <a href="{% url 'signup:reg_individual' %}">
            <button class="btn btn-secondary mb-3" type="button" name="Individual_Account">Individual Account</button> <br/>
          </a>
          <button class="btn btn-secondary mb-3" type="button" name="Company_Account">Company Account</button>
      </div>
    </div>
</body>
{% endblock %}