{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row w-50 my-3 mx-auto">
  <div class="col-md-8">
    <div class="row mx-auto rounded border-top border-bottom border-secondary bg-secondary-subtle">
      <!-- Username -->
      <div class="col-md-12 border-bottom border-secondary-subtle" style="margin-top:1rem">
        <h2>{{ user.username }}</h2>
      </div>

      <!-- Name -->
      <div class="col-md-12" style="margin-top:1rem">
        <h6>Full name: {{ user.first_name }} {{ user.last_name }}</h6>
      </div>

      <!-- Phone -->
      <div class="col-md-12" style="margin-top:1rem">
        <h6>Phone: {{ profile.phone_number }}</h6>
      </div>

      <!-- Address -->
      <div class="col-md-12" style="margin-top:1rem">
        <h6 m>Address: {{ profile.address }}</h6>
      </div>

      <!-- Date of birth -->
      <div class="col-md-12">
        <h6>Date of birth: {{ profile.date_of_birth }}</h6>
      </div>

      <div class="col-md-12" style="height:5rem"></div>

    </div>
  </div>
  <div class="col-md-3">
    <div class="row w-75">
      <!-- Profile Pic -->
      <div class="col-md-4" style="margin-top:1rem;">
        <img src="/media/{{ profile.pic }}" alt="Profile picture" width=150 style="max-height:100%">
      </div>
    </div>
  </div>
  
  <div class="col-md-12 my-5">
    <div class="mx-auto" style="display:flex; justify-content: space-evenly">
      <!-- View applications button -->
      <a class="btn btn-secondary" href="applications">View all my applications</a>
      <!-- Edit button -->
      <a class="btn btn-secondary mx-4" href="edit">Edit profile</a>
    </div>
</div>
{% endblock %}