{% extends "base.html" %}
{% block sidebar %}
<div class="container bg-body-secondary rounded border border-secondary" style="width: 15%; margin-left: 0.25rem; position:fixed">
    <form id="job_filter">
        {{ form }}
        <input type="submit">
    </form>
</div>
<style>
    #job_filter select{
        margin:1%;
        width: 98%;
        padding-top: -5px;
    }
    #job_filter input[type=search]{
        margin:1%;
        width: 98%;
    }
</style>
{% endblock %}


{% block content %}
<div class="row row-cols-1 row-cols-md-2" id="comp_list" style="margin-top:0.25rem; margin-left: 16%;">
    <div class="col-3">
    {% for company in companies %}
        <div style="display: flex; justify-content: space-around;">
            <div id="company_cover_img"> <img src= "{{company.cover_image}}" alt= "company cover image"> </div>
                <div id="company_logo"> <img src= "{{company.logo}}" alt= "company logo"> </div>
                    <div>
            <h1>{{company.name}}</h1>
                    </div>
                        <div>
        <h3>Company's info:</h3>
        <p>{{company.address}}</p>
        <p>{{company.phone_number}}</p>
        <p>{{company.contact_email}}</p>
                </div>
    {% endfor %}
            </div>
        </div>
{% endblock %}
</div>