{% extends "base.html" %}

{% block content %}
<div class="row row-cols-4 row-cols-md-2" id="job_list" style="margin-top:0.25rem; margin-left: 16%;">
    <div class="col-3">
    {% for company in companies %}
        <div class="card bg-body-secondary" style="width: 12rem; height: 10rem; margin-right:0.25rem; margin-bottom:0.25rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ company.name }}">{{ job.address }}</a></h5>
                <p class="card-text">{{ company.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
