{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row g-1 mx-auto w-75" style="margin-top:1rem">
  <div class="col-md-12">
    <img class="img-fluid w-100 rounded border border-tertiary" src= "/media/{{ company.cover_image }}" alt= "company cover image" style="max-height:10rem">
  </div>
  <div class="col-md-4">
    <img height="150px" width="150px" src= "/media/{{ company.logo }}" alt= "company logo">
  </div>
  <div class="col-md-4" style="display: flex;">
    <h1 style="display: flex; align-self: flex-end">{{company.name}}</h1>
  </div>
  <div class="col-md-8 p-3 rounded" style="margin-right:2rem">
    <p>{{company.description}}</p></div>
  <div class="col-md-3 p-3 rounded border border-tertiary">
    <div class="row">
      <div class="col-md-12">
        <h5>Contact:</h5>
      </div>
      <div class="col-md-12 text-end">
        <p>{{company.contact_email}}<br/>
        {{company.phone_number}}<br/>
        {{company.address}}</p>
      </div>
    </div>
  </div>
  {% if jobs %}
    <div class="card text-center">
        <h2 class="card-title">Available Jobs:</h2>
        <div id="job_container" class="container-sm text-center">
            <!-- Each job card -->
            <div class="row">
                {% for job in jobs%}
                    <div class="card col-sm-4 d-inline-flex p-2 bg-body-secondary h-100" style="margin-right:0.25rem; margin-bottom: 0.25rem">
                        <img src="/media/{{ job.company.logo }}" alt="Logo" style="max-width:60%; max-width:60%; border-radius:25%; align-self:center">
                        <div class="card-body border-top border-secondary-subtle w-100">
                            <h5 class="card-title"><a href="{% url 'jobs:detail' job.id %}">{{ job.title }}</a></h5>
                            <p class="card-text">{{ job.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  {% endif %}
</div>
<style>
#job_container{
    padding: 0 0 0 25%;
}
@media only screen and (max-width:600px){
    #job_container{
        padding:0 12px 0 12px;
    }
}
</style>
{% endblock %}
