{% extends "base.html" %}
{% block content %}
<!-- Login screen -->
<div class="container">
  <div class="col align-self-center">
    <form class="" method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      <table>
        <tr><th><h1 style="text-align: center;">Log In</h1></th></tr>
        <tr><td><h6>Enter email and password</h6></td></tr>
        <tr><td>
          <!-- Email -->
          <div class="mb-3">
            <label for="login_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="login_email" name="username" placeholder="Email">
          </div>
        </td></tr>
        <tr><td>
          <!-- Password -->
          <div class="mb-3">
            <label for="login_password" class="form-label">Password</label>
            <input type="password" class="form-control" id="form_password" name="password">
          </div>
          {% if form.errors %}
          <tr><td>Your username and password didn't match. <br/>Please try again.</td></tr>
          {% endif %}
          <tr><td style="text-align: center;"><input class="btn btn-secondary" type="submit" value="Log in"><br/></td></tr>
        </td></tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}
