{% extends 'base.html' %}
{% block content %}
  <div class="LoginDiv">
    <h1 style="text-align: center;">Sign Up</h1>
      <div style="text-align: center;">
         <form action={% url 'accounts:signup' %} method="POST">
            {% csrf_token %}
            <input type="text" id="first_name" placeholder="First name"> <br/>
            <input type="text" id="last_name" placeholder="Last name"> <br/>
            <input type="date" id="dob" placeholder="date of birth dd/mm/yy"> <br/>
            <input type="text" id="address" placeholder="Address"> <br/>
            <input type="email" id="email" placeholder="Email"> <br/>
            <input type="password" id="password" placeholder="Password"> <br/>
            <input type="password" id="repeatpassword" placeholder="Repeat Password"> <br/>
            <button id="Signup">Sign Up</button> <br/>
          </form>
      </div>
    </div>
</body>
{% endblock %}