{% extends "base.html"%}
{% block content %}
<div class="container-xl">
    <div class="row">
        <div class="card text-center col-sm">
          <div class="card-header">
              <h2>{{ application.job.title }}</h2>
              {% if is_company %}
                  <a class="btn btn-secondary" href="{{application.id}}/Deny">DENY</a><a class="btn btn-secondary" href="{{application.id}}/Accept">Accept</a>
              {% endif %}
              </div>
          <div class="card-body">
            <h5 class="card-title">Application Details</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6><b>Name:</b></h6>
                    <span class="card-text">{{application.name}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Street Name:</b></h6>
                    <span class="card-text">{{application.street_name}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>House Number:</b></h6>
                    <span class="card-text">{{application.house_number}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>City:</b></h6>
                    <span class="card-text">{{application.country}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Postal Code:</b></h6>
                    <span class="card-text">{{application.postal}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Cover Letter:</b></h6>
                    <span class="card-text">{{application.cover_letter}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Status:</b></h6>
                    <span class="card-text">{{application.status}}</span>
                </li>
            </ul>
          </div>
        </div>
        <div class="card text-center col-sm">
          <div class="card-header">
              <h2>Experiences</h2>
          </div>
          {% for experience in experiences %}
          <div class="card-body">
            <h5 class="card-title">{{experience.workplace}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6><b>Role:</b></h6>
                    <span class="card-text">{{experience.role}}</span>
                </li class="list-group-item">
                <li class="list-group-item">
                    <h6><b>Starting Date:</b></h6>
                    <span class="card-text">{{experience.start_date}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>End Date:</b></h6>
                    <span class="card-text">{{experience.end_date}}</span>
                </li>
            </ul>
          {% endfor %}
        </div>
        <div class="card text-center col-sm">
          <div class="card-header">
              <h2>References</h2>
          </div>
          {% for reference in references %}
          <div class="card-body">
            <h5 class="card-title">{{reference.name}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6><b>Email:</b></h6>
                    <span class="card-text">{{reference.email}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Phone:</b></h6>
                    <span class="card-text">{{reference.phone_number}}</span>
                </li>
                <li class="list-group-item">
                    <h6><b>Contactable:</b></h6>
                    {% if reference.contact_bool %}
                        <span class="card-text">Yes</span>
                    {% else %}
                        <span class="card-text">No</span>
                    {% endif %}
                </li>
            </ul>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer%}
{% endblock %}
