{% extends "base.html"%}
{% block content %}
{% load static %}
<div class="container bg-body-secondary w-50 rounded border border-secondary" style="margin-top:1rem">
    <form class="row g-2 w-75 mx-auto" method="post" action="{{ action }}">
        <div class="col-md-12">
            <h2 class="mb-3" style="margin-top:1rem">References</h2>
        </div>
        {{ forms.management_form }}
        {% csrf_token %}
        {% for form in forms %}
        <!-- Workplace -->
        <div class="col-md-6 gy-0">
            {{ form.name }}
        </div>
        <!-- Role -->
        <div class="col-md-6 gy-0">
            {{ form.email }}
        </div>
        <!-- Start date -->
        <div class="col-md-3" style="margin-bottom:2rem">
            {{ form.phone_number }}
        </div>
        <div class="col-md-1"></div>
        <!-- End date -->
        <div class="col-md-4 my-3" style="margin-bottom:2rem">
            <h6>{{ form.contact_bool }} Permission to contact</h6>
        </div>
        {% endfor %}

        <!-- Submit Button -->
        <div class="col-md-12" style="text-align: center;">
            <a class="btn btn-secondary mx-auto" href="javascript:history.back()">BACK</a>
            <input class="btn btn-secondary mx-auto" type="submit" style="margin-bottom:0.1rem">
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
